

//FONTS
@mixin main-font($size, $color) {
    font-family: 'Permanent Marker', sans-serif;
    font-size: $size;
    color: $color;
    text-align: center;
}

@mixin general-font ($size, $color) {
    font-family: 'Righteous', sans-serif;
    font-size: $size;
    color: $color;
}

//BUTTONS
@mixin general-button ($padding) {
    border: none;
    background: none;
    padding: $padding;
    outline: none;
    text-align: center;
}
@mixin border-bottom-expand () {
    display: block;
    content: '';
    border-bottom: solid 2px $accent-color;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

//KEYFRAMES 


//COMPATIBILITY MIXINS
