* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("../img/hero1280gradient.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body #appFrame .startPageWrapper {
  text-align: center;
}

body #appFrame .startPageWrapper .welcomeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body #appFrame .startPageWrapper .welcomeWrapper img {
  width: 7rem;
}

body #appFrame .startPageWrapper .welcomeWrapper h1 {
  font-family: 'Permanent Marker', sans-serif;
  font-size: 3.4rem;
  color: #fff;
  text-align: center;
  padding-top: 5vh;
  text-shadow: 0px 2px 20px #d86337;
}

body #appFrame .startPageWrapper .welcomeWrapper p {
  width: 75vw;
  font-family: 'Righteous', sans-serif;
  font-size: 2rem;
  color: #fff;
  padding: 1vh;
  text-shadow: 0px 2px 20px #d86337;
}

body #appFrame .startPageWrapper .welcomeWrapper #foodPicker {
  display: flex;
  flex-direction: column;
}

body #appFrame .startPageWrapper .welcomeWrapper #foodPicker input {
  font-family: 'Righteous', sans-serif;
  font-size: 1.2rem;
  color: #fff;
  padding: 0.2rem;
  margin: 0.2rem;
  background: #19628d;
  outline: none;
  border: none;
}

body #appFrame .startPageWrapper .welcomeWrapper #foodPicker input:hover {
  box-shadow: 0px 0px 10px #d86337;
}

body #appFrame .startPageWrapper .welcomeWrapper .userName {
  display: inline;
  padding: 3vh;
  transition: .3 ease;
}

body #appFrame .startPageWrapper .welcomeWrapper .userName:after {
  display: block;
  content: '';
  border-bottom: solid 2px #FF69B4;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

body #appFrame .startPageWrapper .welcomeWrapper .userName:hover:after {
  transform: scaleX(1);
}

body #appFrame .startPageWrapper .welcomeWrapper .userName input {
  font-family: 'Righteous', sans-serif;
  font-size: 2rem;
  color: #FF69B4;
  padding: 4vh;
  border: none;
  background: none;
  outline: none;
}

body #appFrame .startPageWrapper .welcomeWrapper .userName ::placeholder {
  color: #228cda;
  opacity: 1;
}

body #appFrame .startPageWrapper .welcomeWrapper .userName :-ms-input-placeholder {
  color: #228cda;
}

body #appFrame .startPageWrapper .welcomeWrapper .userName :-ms-input-placeholder {
  color: #228cda;
}

body #appFrame .startPageWrapper .welcomeWrapper .datePicker {
  display: flex;
}

body #appFrame .startPageWrapper .welcomeWrapper .datePicker select {
  font-family: 'Righteous', sans-serif;
  font-size: 1.6rem;
  color: #fff;
  background: rgba(25, 98, 141, 0.6);
  outline: none;
  border: none;
  padding: 2vh;
}

body #appFrame .startPageWrapper .welcomeWrapper .datePicker input {
  font-family: 'Righteous', sans-serif;
  font-size: 1rem;
  color: #fff;
  background: #d86337;
  outline: none;
  border: none;
}

body #appFrame .startPageWrapper .welcomeWrapper .datePicker input:hover {
  box-shadow: 0px 2px 20px #d86337;
}

body #appFrame .startPageWrapper .welcomeWrapper #customerName {
  text-transform: capitalize;
}

body #appFrame .startPageWrapper #errorDiv .errorMessage {
  width: 40vw;
  margin: 1rem;
  padding: 1rem;
  margin: 0 auto;
  font-family: 'Righteous', sans-serif;
  font-size: 1.1rem;
  color: #cc0000;
  background: rgba(255, 255, 255, 0.5);
}

body #appFrame .startPageWrapper button {
  font-family: 'Righteous', sans-serif;
  font-size: 1.5rem;
  color: #fff;
  border: none;
  background: none;
  padding: 1.5rem;
  outline: none;
  text-align: center;
  margin-top: 4vh;
}

body #appFrame .startPageWrapper button:after {
  display: block;
  content: '';
  border-bottom: solid 2px #FF69B4;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

body #appFrame .startPageWrapper button:hover:after {
  transform: scaleX(1);
}

body #appFrame .startPageWrapper .steps {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: #fff;
}

body #appFrame .startPageWrapper .steps p {
  margin: 1rem;
}

body #appFrame .startPageWrapper .tableCount input {
  font-family: 'Righteous', sans-serif;
  font-size: 1.5rem;
  color: #fff;
  outline: none;
  border: none;
  padding: 4vh;
  background: rgba(25, 98, 141, 0.5);
  margin: 0.5rem;
  margin-bottom: 1rem;
}

body #appFrame .startPageWrapper .tableCount input:hover {
  box-shadow: 0 3px 7px #d98592;
}

body #appFrame .startPageWrapper .tableCount input #errorDiv .errorMessage {
  width: 20vw;
  padding: 0.2rem;
  margin: 0 auto;
  font-family: 'Righteous', sans-serif;
  font-size: 1.1rem;
  color: #cc0000;
  background: rgba(255, 255, 255, 0.5);
}

body #appFrame .startPageWrapper .tableCount ::placeholder {
  color: #228cda;
  opacity: 1;
}

body #appFrame .startPageWrapper .tableCount :-ms-input-placeholder {
  color: #228cda;
}

body #appFrame .startPageWrapper .tableCount :-ms-input-placeholder {
  color: #228cda;
}

body #appFrame .bookPageWrapper {
  background-color: #d98592;
}

body #appFrame .bookPageWrapper nav {
  display: flex;
  align-items: center;
}

body #appFrame .bookPageWrapper nav img {
  width: 7vw;
}
/*# sourceMappingURL=main.css.map */