@import "vars";
@import "mixins";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    #appFrame {
        .startPageWrapper {
            background: 
                linear-gradient( rgba(25, 98, 141, 0.8), rgba(242, 67, 100, 0.8)), 
                url('../img/hero1280.jpg');
    
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
            text-align: center;
            .welcomeWrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    width: 7rem;
                }
                h1 {
                    @include main-font(3.4rem, $main-color);
                    padding-top: 5vh;
                    text-shadow: 0px 2px 20px $accent-orange; //0 0 5px #0000FF
                }
                p {
                    width: 75vw;
                    @include general-font(2rem, $main-color);
                    padding: 1vh;
                    text-shadow: 0px 2px 20px $accent-orange;
                    
                }
                .userName {
                    display: inline;
                    padding: 3vh;
                    transition: .3 ease;
                    &:after {
                        @include border-bottom-expand;
                    }
                    &:hover:after {
                        transform: scaleX(1);
                    }
                    input {
                        @include general-font(2rem, $accent-color);
                        padding: 4vh;
                        border: none;
                        background: none;
                        outline: none;
                    }
                    //PLACEHOLDER COLORS!
                    ::placeholder {
                        color: $light-blue;
                        opacity: 1;
                    }
                    :-ms-input-placeholder { 
                        color: $light-blue;
                    }
                    :-ms-input-placeholder {
                         color: $light-blue;
                    }//PLACEHOLDER COLORS!
                }

                //DATEPICKER
                .datePicker {
                    display: flex;
                    select {
                        @include general-font(1.6rem, $main-color);
                        background: rgba(25, 98, 141, 0.6);
                        outline: none;
                        border: none;
                        padding: 2vh;
                    }//select

                    input {
                        @include general-font(1rem, $main-color);
                        background: $accent-orange;
                        outline: none;
                        border: none;
                        &:hover {
                            box-shadow: 0px 2px 20px $accent-orange;
                        }
                    }
                }//.datePicker

                //DATEPICKER ENDS

                #customerName {
                    text-transform: capitalize;
                }
            }//.welcomeWrapper
    
            #errorDiv {
                .errorMessage {
                    width: 40vw;
                    margin: 1rem;
                    padding: 1rem;
                    margin: 0 auto;
                    @include general-font(1.1rem, $error-red);
                    background: rgba(255, 255, 255, 0.5);
                }
            }
           
            button {
                @include general-font(1.5rem, $main-color);
                @include general-button(1.5rem);
                margin-top: 4vh;
                &:after {
                    @include border-bottom-expand;
                }
                &:hover:after {
                    transform: scaleX(1);
                }
            }//button

            // TABLES PAGE
            .steps {
                display: flex;
                justify-content: center;
                font-size: 2rem;
                color: $main-color;
                p {
                    margin: 1rem;
                }
            }

            .tableCount {
                input {
                    @include general-font(1.5rem, $main-color);
                    outline: none;
                    border: none;
                    padding: 4vh;
                    background: rgba(25, 98, 141, 0.5);
                    margin: 0.5rem;
                    margin-bottom: 1rem;
                    &:hover {
                        box-shadow: 0 3px 7px $light-pink; 
                    }
                    #errorDiv {
                        .errorMessage {
                            
                            width: 20vw;
                            padding: 0.2rem;
                            margin: 0 auto;
                            @include general-font(1.1rem, $error-red);
                            background: rgba(255, 255, 255, 0.5);
                        }
                    }
                }
                //PLACEHOLDER COLORS!
                ::placeholder {
                    color: $light-blue;
                    opacity: 1;
                }
                :-ms-input-placeholder { 
                    color: $light-blue;
                }
                :-ms-input-placeholder {
                     color: $light-blue;
                }//PLACEHOLDER COLORS!
            }
        }//.startPageWrapper START PAGE ENDDS HERE
    
        //BOOKING STARTS HERE
        .bookPageWrapper {
            background-color: $light-pink;
            nav {
                display: flex;
                align-items: center;
                img {
                    width: 7vw;
                }
            }
        }
        //BOOKING ENDS HERE
    }
}//BODY
